.centerRow {
  padding-top: 25%
}
body {
  background-color: whitesmoke
}
.newCard {
  border: 0ch;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.empty {
  height: 1.5rem;
}