{
  "env": {
    "browser": true, 
    "es6": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "class-methods-use-this": "off",
    "import/extensions": "off",
    "no-param-reassign": ["error", { "props": false }]
  }
}
